
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');


h1, p, li, h2, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    padding-inline: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

li:hover {
    cursor: pointer;
    color: greenyellow;
}

.options {
    font-weight: 500;
}

.home-btn {
    font-size: 23px;
}

.menu {
    display: flex;
    justify-content: center;
}

html, body {
    padding: 0;
    margin: 0;
}

#background {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    background-color: rgb(234, 234, 234);
}

.section-one.two {
    max-width: 40%;
    display: flex;
    align-items: left;
}

p {
    margin-top: 0px;
    margin-left: 20%;
    max-width: 50%;
    line-height: 21px;
}

button {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    border-radius: 10px;
    margin-left: 20%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 3%;
    outline: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.heading1 {
    font-size: 70px;
    margin-left: 20%;
}

h2 {
    font-weight: 400;
    color: grey;
    font-size: 40px;
    padding: 0;
    margin: 0;
    letter-spacing: -1.5px;
}

h2:nth-child(2) {
    color: black;

}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-box {
    text-align: center;
    margin-top: 100px;
}

.logo {
    max-width: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-inline: 10%;
    padding-top: 5%;
    
}

.grid-item {
    background-color: rgb(210, 210, 210);
    padding: 20px;
    font-size: 30px;
    text-align: left;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 20px;
    display: flex;
}

.img-item {
    display: flex;
    justify-content: right;
}

.big-block {
    grid-column: span 1;
    grid-row: span 2;
}

.small-block {
    grid-column: span 1;
    grid-row: span 1;
    padding-top: 10%;
    padding-right: 6%;
    padding-left: 10%;
    padding-bottom: 10%;
    border: black 1px solid;
}

.header-img {
    max-width: 70%;
}

.text {
    width: 50%;
}

.image {
    width: 50%;
}

.image img {
    padding-left: 40%;
    width: 40%;
}


h6 {
    font-weight: 400;
    font-size: 18px;
    padding-top: 5%;
    text-align: center;
}